* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


div.container {
	min-width: 980px;
	margin: 0 auto;
}

table.list{
    border:1px solid;
    margin-bottom:20px;
    margin-left:30px; 
    height:50vh;
    background-color: rgb(54, 129, 54);
}


td{  
    height:6vh;
}


.mod{
   padding: 0px 5px 5px 5px; 
   width:90%;
   border-radius:7px;
}
td.down{
    color:#ffff;
    font-weight: lighter;
    margin-left:20px;
}

.bn{
    color: rgb(151, 144, 144);
    background-color: rgb(16, 45, 126);
    padding-top:1px;
    text-align: center;
    font-weight: bold;
    float:center;
    margin-left:150px;
    padding:5px 5px 5px 5px;
    cursor: pointer;
}